<footer class="bg-gray">
        <div class="container section-2">

            <div class="text-center">
                <img class="img-responsive mrg-horizon-auto logo-footer" src="../assets/imgs/logo.png" alt="logo">
                <div class="mrg-top-15">
                    <a href="#" class="btn btn-icon facebook border no-border circle text-dark"><i class="ti-facebook"></i></a>
                    <a href="#" class="btn btn-icon twitter border no-border circle text-dark"><i class="ti-twitter"></i></a>
                    <a href="#" class="btn btn-icon instagram border no-border circle text-dark"><i class="ti-instagram"></i></a>
                    <a href="#" class="btn btn-icon google border no-border circle text-dark"><i class="ti-google"></i></a>
                    <a href="#" class="btn btn-icon pinterest border no-border circle text-dark"><i class="ti-pinterest"></i></a>
                </div>
                <!-- /mrg-top -->
                <p class="font-weight-normal text-dark font-size-12 ls-2 mrg-top-30">DISCREPANTIA.COM</p>
            </div>
            <!-- /text-center -->

        </div>
        <!-- /container -->
    </footer>