<!-- Work Process -->
    <section id="serves" class="section">
        <div class="container">
            <p class="sub-heading">Com treballem?</p>
            <h2 class="heading">Els nostres serveis</h2>
            <p class="mrg-top-70 text-center">Lorem ipsum dolor sit amet, eiusmod consectetur adipisicing elit, sed do tempor
                <br class="hide-mobile"> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

            <div class="work-flow-1 mrg-top-70">

                <div class="right ">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="../../assets/imgs/serve1.jpg" alt="">
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">01</h1>
                            <h4>Servei</h4>
                            <p class="mrg-top-30">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /right -->

                <div class="left">
                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">02</h1>
                            <h4>Servei</h4>
                            <p class="mrg-top-30">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <img class="img-responsive" src="../../assets/imgs/serve2.jpg" alt="">
                    </div>
                    <!-- /column -->
                </div>
                <!-- /left -->

                <div class="right ">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="../../assets/imgs/serve3.jpg" alt="">
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">03</h1>
                            <h4>Servei</h4>
                            <p class="mrg-top-30">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->
                </div>
                <!-- /right -->

                <div class="left">
                    <div class="col-sm-6">
                        <div class="work-flow-content">
                            <h1 class="process">02</h1>
                            <h4>Servei</h4>
                            <p class="mrg-top-30">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
                        </div>
                        <!-- / work-flow-content -->
                    </div>
                    <!-- /column -->

                    <div class="col-sm-6">
                        <img class="img-responsive" src="../../assets/imgs/serve4.jpg" alt="">
                    </div>
                    <!-- /column -->
                </div>
                <!-- /left -->
            </div>
            <!-- /work-flow-1 -->
        </div>
        <!-- /container -->
    </section>
    <!-- /#work process -->
