<!-- Navigation -->
<nav class="main-nav op-nav menu-dark menu-transparent js-transparent">
    <div class="container">
        <div class="navbar">

            <div class="brand-logo">
                <a class="navbar-brand" href="#">
                    
                </a>
            </div>
            <!-- brand-logo -->

            <div class="navbar-header">
                <div class="inner-nav right-nav">
                    <ul>
                        <li class="navbar-toggle">
                            <button type="button" data-toggle="collapse" data-target=".collapse">
                                <span class="sr-only"></span>
                                <i class="ti-menu"></i>
                            </button>
                        </li>
                        <!-- /collapse-menu -->

                    </ul>
                </div>
                <!-- /right-nav -->
            </div>
            <!-- navbar-header -->

            <div class="custom-collapse navbar-collapse collapse inner-nav">
                <ul class="nav navbar-nav">
                    <li><a class="scroll-to" href="#home">Home</a></li>
                    <li><a class="scroll-to" href="#serves">Serveis</a></li>
                    <li><a class="scroll-to" href="#info">Qui som?</a></li>
                    <li><a class="scroll-to" href="#projects">Projectes</a></li>
                    <li><a class="scroll-to" href="#contact">Contacte</a></li>
                </ul>
                <!-- /nav -->
            </div>
            <!-- /collapse -->
        </div>
        <!-- /navbar -->
    </div>
    <!-- /container -->
</nav>
<!--/#Navigation-->
