<!-- Team  -->
<section id="projects" class="section">
    <div class="container-fluid">
        <p class="sub-heading">Què fem?</p>
        <h2 class="heading">Descobreix els nostres projectes</h2>
        <div class="row">
            <!-- /column -->

            <div class="col-md-12">
                <div class="team-style-1 owl-4 owl-carousel mrg-top-70">
                    <div class="owl-item team-member">
                        <div class="member-img">
                            <img src="../../assets/imgs/project1.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <div class="overlay-content">
                                        <h4>Projecte 1</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>

                                    </div>
                                    <!-- /overlay -content -->
                                </div>
                                <!-- /overlay-caption -->
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /member-image -->
                        <div class="member-info text-center mrg-top-15">
                            <h4>Nate Leong</h4>
                            <p class="droid-serif-italic">Director</p>
                        </div>
                        <!-- text-center-->
                    </div>
                    <!-- /team-member -->

                    <div class="owl-item team-member">
                        <div class="member-img">
                            <img src="../../assets/imgs/project2.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <div class="overlay-content">
                                        <h4>Projecte 2</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>

                                    </div>
                                    <!-- /overlay -content -->
                                </div>
                                <!-- /overlay-caption -->
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /member-image -->
                        <div class="member-info text-center mrg-top-15">
                            <h4>John mark</h4>
                            <p class="droid-serif-italic">Senior Executive</p>
                        </div>
                        <!-- text-center-->
                    </div>
                    <!-- /team-member -->

                    <div class="owl-item team-member">
                        <div class="member-img">
                            <img src="../../assets/imgs/project3.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <div class="overlay-content">
                                        <h4>Projecte 3</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>

                                    </div>
                                    <!-- /overlay -content -->
                                </div>
                                <!-- /overlay-caption -->
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /member-image -->
                        <div class="member-info text-center mrg-top-15">
                            <h4>Anderson Martin</h4>
                            <p class="droid-serif-italic">Programmer</p>
                        </div>
                        <!-- text-center-->
                    </div>
                    <!-- /team-member-->

                    <div class="owl-item team-member">
                        <div class="member-img">
                            <img src="../../assets/imgs/project4.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <div class="overlay-content">
                                        <h4>Projecte 4</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing </p>

                                    </div>
                                    <!-- /overlay -content -->
                                </div>
                                <!-- /overlay-caption -->
                            </div>
                            <!-- /overlay -->
                        </div>
                        <!-- /member-image -->
                        <div class="member-info text-center mrg-top-15">
                            <h4>Ellen Snow</h4>
                            <p class="droid-serif-italic">Graphic Designer</p>
                        </div>
                        <!-- text-center-->
                    </div>
                    <!-- /team-member -->

                </div>
                <!-- /team-style-1 -->
            </div>
            <!-- /column -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</section>
<!-- /#Team -->