<!-- Section Parallax -->
    <section class="section parallax" style="background-image: url(../../assets/imgs/parallax.jpg); ">
        <div class="container">
            <div class="text-center pdd-vertical-50">
                <h1>Títol secció parallax</h1>
                <p class="width-70 mrg-horizon-auto mrg-top-30">Fusce aliquet quam eget neque ultrices elementum. Nulla posuere felis id arcu blandit sagittis. Eleifender vestibulum purus, sit amet vulputate risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non ex consectetur, pharetra lorem sit amet.</p>
                <a class="btn btn-style-4 btn-md mrg-top-30 scroll-to" href="#contact">Contacta'ns</a>
            </div>
            <!-- /text-center -->
        </div>
        <!-- /container -->
    </section>
    <!-- /Section Parallax -->