<!-- Full Screen Image Parallax -->
<header id="home">
    <div class="fs-img-parallax parallax parallax-overlay-light" style="background-image:url(../../assets/imgs/home.jpg)">
        <div class="hero-caption caption-center caption-height-center container">
            <h1 class="hero-heading-alt">DISCREPANTIA</h1>
            <p class="hero-text-alt">Cultura en qualsevol lloc; cultura amb els sentits.
            <br>
            <a class="scroll-to btn btn-md btn-style-4 mrg-top-15 scroll-to" href="#work-process">Descobreix-nos</a>
        </div>
        <!-- /hero-caption -->
    </div>
    <!-- /fs-img-parallax -->
</header>
<!--/#Full Screen Image Parallax -->