 <!-- Contact -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <h2 class="heading">Contacte</h2>
                <p class="sub-heading">Contacta amb nosaltres per resoldre els teus dubtes</p>
                <div class="contact-form-1">
                    <div class="col-md-8 col-md-offset-2 mrg-top-50">

                        <div class="col-sm-6 col-lg-4">
                            <div class="contact-item">
                                <i class="ti-mobile"></i>
                                <div class="contact-info">
                                    <h4 class="tittle">Telf.</h4>
                                    <p>66666666666</p>
                                </div>
                                <!-- /contact-info -->
                            </div>
                            <!-- /contact-item -->
                        </div>
                        <!-- /column -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="contact-item">
                                <i class="ti-location-pin"></i>
                                <div class="contact-info">
                                    <h4 class="tittle">Direcció</h4>
                                    <p>Carrer de gomís
                                        <br class="hide-mobile">8</p>
                                </div>
                                <!-- /contact-info -->
                            </div>
                            <!-- /contact-item -->
                        </div>
                        <!-- /column -->

                        <div class="col-sm-6 col-lg-4">
                            <div class="contact-item">
                                <i class="ti-email"></i>
                                <div class="contact-info">
                                    <h4 class="tittle">Email</h4>
                                    <a href="#">
                                        <p>info@discrepantia.com</p>
                                    </a>
                                </div>
                                <!-- /contact-info -->
                            </div>
                            <!-- /contact-item -->
                        </div>
                        <!-- /column -->
                    </div>
                    <!-- /contact-item-wrapper -->
                </div>
                <!-- /contact-form-1 -->
            </div>
            <!-- /row -->

            <div class="row">
                <form class="contact-form-wrapper mrg-top-30" name="contactForm" id="contact_form" method="post" >
                    <div class="form-inside col-md-8 col-md-offset-2">
                        <div class="form-group col-sm-6">
                            <input type="text" class="form-control" name="name" id="exampleInputName" placeholder="Nom">
                        </div>
                        <!-- /form-group -->

                        <div class="form-group col-sm-6">
                            <input type="email" class="form-control" name="email" id="exampleInputEmail" placeholder="Email">
                        </div>
                        <!-- /form-group -->

                        <div class="form-group col-sm-12">
                            <input type="text" class="form-control fill-this" name="subject" id="exampleInputSubject" placeholder="Assumpte">
                        </div>
                        <!-- /form-group -->

                        <div class="form-group col-sm-12">
                            <textarea class="form-control fill-this" name="message" rows="3" id="exampleInputMessage" placeholder="Missatge"></textarea>
                        </div>
                        <!-- /form-group -->

                        <div class="form-group col-xs-12">
                            <div id="mail_success" class="success" style="display:none;">
                                Gràcies. El correu s'ha enviat correctament!
                            </div>
                            <!-- /mail_success -->
                            <div id="mail_fail" class="error" style="display:none;">
                                Hi ha hagut un error en l'enviament del missatge.
                            </div>
                            <!-- /mail_error -->
                        </div>
                        <!-- /form-group -->

                        <div class="form-group col-sm-12" id="submit">
                            <input class="btn btn-md btn-style-2" type="submit" id="send_message" value="Enviar">
                        </div>
                        <!-- /form-group -->

                    </div>
                    <!-- /form-inside -->

                </form>
                <!-- /contac-form-wrapper -->

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /Contact -->